.about {
  padding: 100px 0;
  &__wrapper {
    position: relative;
    display: block;

    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);

    @media (min-width: 1200px) {
      width: 70%;
      margin-right: auto;
    }
  }
  &__box {
    padding: 20px 50px 50px;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    text-align: initial;
    border-bottom: 4px dashed #cdcdcd;
    p {
      margin-bottom: 15px;
    }
    strong {
      padding: 0 5px;
      font-weight: 700;
      border-left: 5px solid #d32c59;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        color: #fff;
        background-color: #333;
      }
    }
  }
  &__list {
    max-width: 410px;
    padding: 15px;
    border-left: 3px dashed #d32c59;
    border-radius: 30px;
  }
  &__item {
    position: relative;
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 18px;

    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url(../images/important.svg);
      content: "";
    }
  }
}
.a {
  position: relative;
  margin-right: 0;
  margin-left: auto;
}

.a-dec {
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.a-dec-0 {
  top: 10%;
  right: -160px;
}
.a-dec-1 {
  top: 40%;
  right: -270px;
}
.a-dec-2 {
  top: 75%;
  right: -170px;
  z-index: 1;
}
.a-dec-3 {
  top: 6%;
  left: -240px;
}
.a-dec-4 {
  top: 40%;
  left: -280px;
}
.a-dec-5 {
  top: 75%;
  left: -160px;
}
.b {
  position: relative;
  @media (min-width: 1200px) {
    width: 80%;
    margin-left: auto;
  }
}
.b2 {
  text-align: center;
}
.b4 {
  text-align: right;
}

.a-dec-7 {
  top: 45%;
  right: -240px;
  transform: rotate(90deg);
}
.a-dec-8 {
  top: 10%;
  left: -240px;
  transform: rotate(-90deg);
}

.b6 {
  @media (min-width: 1200px) {
    width: 80%;
    margin-right: 0;
    margin-left: auto;
  }
}
