.start-home__decoration-01 {
  position: absolute;
  bottom: 80px;
  left: 34px;
  display: block;
}

.start-home__decoration-02 {
  position: absolute;
  right: 0;
  bottom: 160px;
  display: block;
}

.start-home__decoration-04 {
  position: absolute;
  top: 126px;
  right: 5px;
  display: block;
}

.start-home__decoration-05 {
  position: absolute;
  top: 146px;
  left: 0;
  display: block;
}

.start-home__decoration-06 {
  position: absolute;
  bottom: 20px;
  left: 55%;
  display: block;
  transform: translate(0, 0);
}

.header-decoration-05__element-01 path {
  fill: #fff;
}
.header-decoration-04__element-02 {
  fill: #d23c59;
}

.header-decoration-05__element-02 path {
  fill: #d23c59;
}

.header-decoration-04__element-01 {
  opacity: 0.57;
  fill: #dedfde;
}
.header-decoration-01__element-01 {
  fill: #e7e7e7;
}
.header-decoration-01__element-02 {
  fill: #fff;
}
.header-decoration-01__element-03 {
  opacity: 0.57;
  fill: #e7e7e7;
}
.header-decoration-01__element-04 path {
  fill: #d23c59;
}
.header-decoration-02__element-01 {
  fill: #e7e7e7;
}
.header-decoration-02__element-02 {
  fill: #fff;
}
.header-decoration-02__element-03 {
  opacity: 0.57;
  fill: #e7e7e7;
}
.header-decoration-02__element-04,
.header-decoration-02__element-05,
.header-decoration-02__element-06 {
  fill: #d23c59;
}
.header-decoration-06__element-01 {
  fill: #dedfde;
}
.header-decoration-06__element-02 {
  animation-name: a-header-decoration-06__element-02;
  fill: #fff;
}
.header-decoration-06__element-03 {
  fill: #fff;
}

.header-decoration-06__element-04 {
  fill: #d23c59;
}
.header-decoration-06__element-05 {
  opacity: 0.71;
  fill: #dedfde;
}
.header-decoration-06__element-06 {
  fill: #fff;
}
.header-decoration-06__element-07 {
  opacity: 0.57;
  fill: #dedfde;
}
