@import "base";
@import "vars";
@import "utils";
@import "layout";
@import "page/about";
@import "components";
@import "fonts";

::selection {
  background-color: #d24c59;
}
// ::-webkit-scrollbar {
//   width: 0;
// }

.locked {
  overflow: hidden;
}
.primary-heading {
  position: relative;
  z-index: 5;
  display: block;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 55px;
  letter-spacing: 0.1em;

  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 45%;
    left: 400px;
    z-index: -1;
    width: 140px;
    height: 40px;
    background-color: #d24c59;
    content: "";
  }
}

.description {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 35px;
}

.title {
  font-weight: 400;
  font-size: 40px;
  font-style: italic;
}

.b6-h {
  font-size: 45px;
}
.b6-h::after {
  top: 55%;
  height: 30px;
}
